<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="headerstore">
            <div class="headerstore__logo">
                <a href=""> <img class="headerstore__logoimg" src="/images/spts.png" alt=""> </a>
            </div>

            <div class="headerstore__nav">
                <a href="/" class="navstore__item">Home</a>
                <a href="/tienda" class="navstore__item"> Catalog</a>

            </div>

            <div class="shoppingchart__nav">
              <a href="#" ><img class="shoppingchart__img" src="/images/car.png" alt=""></a>
                
            </div>

        </header>

    {{{body}}}

    <footer class="footer btnFont ">
        <a href="#" class="footer__a btnline">Home</a>
        <a href="#hiw" class="footer__a btnline">How it Works</a>
        <a href="#ft" class="footer__a btnline">Features</a>
        <a href="#pics" class="footer__a btnline">Pics</a>


    </footer>

</body>


</html>