<div class="checkout">
    <p class="checkout__title">Shipping</p>
    <div class="checkout__firstline">
        <div class="checkout__name">
            <p class="checkout__mt">First name</p>
            <input class="checkout__box" type="text" placeholder="ex: Jhon">
        </div>
        <div class="checkout__lastname">
            <p class="checkout__mt">Last name</p>
            <input class="checkout__box" type="text" placeholder="ex: Andrews">
        </div>


    </div>



</div>