<div class="product">
    <div class="product__box">
         <img class="product__img" src={{images}} alt="">    
    </div>
    <div class= "product__info">
             <p class="product__skill">{{skill}}</p>
             <p class="product__title">{{name}}</p>
             <p class="product__price">{{price}} US</p>

         </div>

        <input type="button" class="product__addcart" value="Add to cart">
    







</div>