.basket__products {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    width: 100%;
    background-color: rgb(245, 243, 243);
}

.basket__img {
    width: 40%;
}

.basket__title {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 30pt;
    margin-left: 10%;
}

.basket__buy {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 5%;
}

.basket__info {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab";
    font-weight: bold;
    line-height: 1pt;
    margin-left: 5%;
    margin-top: 5%;
}

.basket__name {
    font-size: 10pt;
    color: gray;
}

.basket__price {
    font-size: 14pt;
    line-height: 1pt;
}

.basket__skill {
    font-size: 8pt;
    color: gray;
}

.basket__trash {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.5em;
    margin-top: 10%;
    margin-left: auto;
    margin-right: 5%;
}

.basketfooter {
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 14pt;
    margin-top: 5%;
}

.basket__total {
    margin-left: 10%;
}

.basket__checkoubtn {
    background-color: gray;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 14pt;
    padding: 1em;
    width: 100%;
    &:hover {
        color: white;
        background-color: black;
    }
}

@media screen and (max-width: 700px) {
    .basket__products {
        width: 100%;
        margin-left: 0%;
    }
}