.product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.product__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Roboto Slab";
    font-weight: bold;
    line-height: 3pt;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 30%;
}

.btn__p {
    flex-direction: row;
    width: 40%;
}

.product__skill {
    font-size: 12pt;
    color: gray;
}

.product__title {
    color: black;
    font-size: 18pt;
}

.product__price {
    font-size: 14pt;
}

.product__img {
    width: 80%;
}

.product__addcart {
    padding: 1em 1em 1em 1em;
    width: 200%;
    background-color: rgb(216, 216, 216);
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 14pt;
    margin-left: 400%;
    &:hover {
        background: black;
        color: white;
        transition: ease-in-out;
    }
    .product__text {
        justify-content: flex-start;
        margin-right: 4em;
    }
}

.product__addcart--responsive {
    display: none;
}

.product__description {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab";
    font-weight: lighter;
    font-size: 12pt;
    justify-content: flex-start;
    text-align: left;
    line-height: 2pt;
    margin-right: auto;
    margin-left: 27%;
}

.product__dt {
    display: flex;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 14pt;
    ;
}

.product__dn {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .product__img {
        margin-left: 10%;
    }
    .product__info {
        margin-right: auto;
        margin-left: 10%;
    }
    .product__skill {
        font-size: 10pt;
    }
    .product__title {
        font-size: 14pt;
    }
    .product__price {
        font-size: 12pt;
    }
    .product__description {
        margin-left: 10%;
    }
    .product__dn {
        line-height: 20pt;
        margin-top: 0;
    }
    .btn__p {
        display: none;
    }
    .product {
        margin-top: 10%;
    }
    .product__addcart--responsive {
        display: flex;
        padding: 1em 1em 1em 1em;
        width: 40%;
        background-color: rgb(216, 216, 216);
        font-family: "Roboto Slab";
        font-weight: bold;
        font-size: 14pt;
        margin-left: 0%;
        scroll-margin-bottom: 20%;
        &:hover {
            background: black;
            color: white;
            transition: ease-in-out;
        }
        .product__text {
            justify-content: flex-start;
            margin-right: 4em;
        }
    }
}